In [1]:
# Dependencies
import numpy as np
import datetime as dt 
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
Base.classes.keys()

['measurement', 'station']

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [12]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_data = dt.date(2016, 6, 30) - dt.timedelta(days=29)

In [13]:
#  3. Convert the June temperatures to a list.
results = [] 
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= june_data).all()

In [14]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results)
df.head()

         date  prcp
0  2016-06-01  0.06
1  2016-06-02  0.00
2  2016-06-03  0.00
3  2016-06-04  0.00
4  2016-06-05  0.00

In [15]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

              prcp
count  2484.000000
mean      0.199300
std       0.536388
min       0.000000
25%       0.000000
50%       0.020000
75%       0.150000
max       9.640000

## D2: Determine the Summary Statistics for December

In [16]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_data = dt.date(2016, 12, 31) - dt.timedelta(days=30)

In [18]:
# 7. Convert the December temperatures to a list.
dec_results = []
dec_results =  session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= december_data).all()

In [19]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_results)

In [20]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

              prcp
count  1445.000000
mean      0.170062
std       0.441790
min       0.000000
25%       0.000000
50%       0.010000
75%       0.120000
max       6.250000