In [1]:
# Dependencies
import numpy as np
import datetime as dt 
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
Base.classes.keys()

['measurement', 'station']

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [5]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_data = dt.date(2016, 6, 30) - dt.timedelta(days=29)

In [22]:
#  3. Convert the June temperatures to a list.
results = [] 
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= june_data).all()

In [23]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results)
df.head()

         date  tobs
0  2016-06-01  76.0
1  2016-06-02  71.0
2  2016-06-03  71.0
3  2016-06-04  74.0
4  2016-06-05  76.0

In [24]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

              tobs
count  2753.000000
mean     75.010171
std       4.463992
min      58.000000
25%      72.000000
50%      76.000000
75%      78.000000
max      87.000000

## D2: Determine the Summary Statistics for December

In [26]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_data = dt.date(2016, 12, 31) - dt.timedelta(days=30)

In [27]:
# 7. Convert the December temperatures to a list.
dec_results = []
dec_results =  session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= december_data).all()

In [28]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_results)

In [29]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

              tobs
count  1597.000000
mean     73.766437
std       4.867794
min      58.000000
25%      70.000000
50%      74.000000
75%      77.000000
max      87.000000